<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add New Employee</title>
    <link rel="stylesheet" href="ademp-style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body style="background-color:rgb(3, 54, 52);">
<!-- NAVIGATION BAR -->
<div class="navigation">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/displayAll">View All</a></li>
          <li><a href="/forwardAdd">Add Employee</a></li>
        </ul>
      </nav>
    </div>
    <!-- CONTAINER DISPLAY THE FORM -->
    <div class="container">
      <div class="addform">
        <h3 class="heading">Enter Employee Details</h3>
        <!--linking with thymeleaf to get input from the user  -->
        
        
        
        <form action="#" th:action="@{/save}" th:object="${employee}" method="post">
  			<div class="row">
			  <div class="col-md-6">
			  	<label>ID</label>
			    <input type="text" th:field="*{id}" required class="form-control"/>
			   </div>
			   <div class="col-md-6">
			   	<label>Name</label>
		        <input type="text" th:field="*{name}" required class="form-control"/>
		      </div>
  			</div>
  			<div class="row">
			  <div class="col-md-6">
			  	<label>Gender</label>
			    <select th:field="*{gender}" class="form-control">
                  <option value="--">--Select--</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
			   </div>
			   <div class="col-md-6">
			   	<label>Email</label>
		        <input type="text" th:field="*{email}" required class="form-control"/>
		      </div>
  			</div>
  			<div class="row">
			  <div class="col-md-6">
			  	<label>Location</label>
			    <input type="text" th:field="*{location}" required class="form-control"/>
			   </div>
			   <div class="col-md-6">
			   	<label>Mobile Number</label>
		         <input type="text" th:field="*{phone}" required class="form-control"/>
		      </div>
  			</div><br>
  			<input type="submit" value="Submit" name="submit" class="button1"/>
  		</form>
        
        
        
      </div>
    </div>
</body>
</html>